@use "./../init" as *;

.c-product {
    position: relative;
    min-width: 250px;
    border-radius: 0.4rem;
    background-color: var(--c-white);
    border: 1px solid var(--r-background);
    padding: 2rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0.4rem 0.8rem rgba($color: #0000001f, $alpha: 0.12);

    &:hover {
        cursor: pointer;

        .c-product__actions {
            opacity: 1;
            pointer-events: auto;
        }
    }

    &__badges {
        position: absolute;
        top: 1rem;
        left: 1rem;
        display: flex;
        gap: 0.4rem;
    }

    &__badge {
        padding: 0.4rem 0.6rem;
        border-radius: 0.4rem;
        font-family: "DM Sans", sans-serif;
        font-weight: 600;
        font-size: 1.3rem;
        line-height: 1;
        text-align: center;
        vertical-align: middle;

        &--discount {
            background-color: #7d2f78;
            color: var(--c-white);
        }
        &--new {
            background-color: #149721;
            color: var(--c-white);
        }
    }

    &__actions {
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: flex;
        gap: 0.6rem;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease-in-out;

        @include tablet {
            opacity: 1;
        }

        @include mobile {
            opacity: 1;
        }
    }

    &__action {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.2rem;
        height: 3.2rem;
        border: 0;
        border-radius: 0.4rem;
        padding: 0.9rem;
        background-color: var(--r-background);
        color: var(--r-black);
        cursor: pointer;
        transition: 0.3s ease-in-out;

        &:hover {
            filter: drop-shadow(0 0.2rem 0.4rem rgba(0, 0, 0, 0.2));
        }

        &:active {
            background-color: var(--c-white);
        }
    }

    &__img {
        width: 100%;
        object-fit: contain;
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
    }

    &__top {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
    }

    &__main {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }

    &__rating {
        display: flex;
        align-items: center;
        gap: 0.2rem;
    }

    &__review-count {
        font-family: "DM Sans", sans-serif;
        font-size: 1.2rem;
        font-weight: 400;
        color: var(--r-black);
    }

    &__name {
        font-family: "Wix Madefor Display", sans-serif;
        font-size: 1.6rem;
        font-weight: 800;
        margin: 0;
    }

    &__sku {
        font-family: "DM Sans", sans-serif;
        font-size: 1.3rem;
        color: #555555;
        margin: 0;
    }

    &__pricing {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__middle {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__price-original {
        font-family: "DM Sans", sans-serif;
        font-weight: 400;
        font-size: 1.3rem;
        text-decoration: line-through;
        color: var(--r-black);
    }

    &__price-sale {
        font-family: "Wix Madefor Display", sans-serif;
        font-size: 2rem;
        font-weight: 800;
        color: var(--r-maincta-pink);
    }

    &__price-vat {
        font-family: "DM Sans", sans-serif;
        font-weight: 400;
        font-size: 1.1rem;
        line-height: 1;
        color: #555555;
    }

    &__stock {
        font-family: "DM Sans", sans-serif;
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 1;
        text-decoration: underline;
        color: #149721;
    }

    &__cart {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 1.6rem;
    }

    &__quantity {
        display: flex;
        align-items: center;
        gap: 0.2rem;
    }

    &__qty-btn {
        padding: 0 0.4rem;
        border: none;
        background: none;
        cursor: pointer;
        font-size: 1.8rem;
        border-radius: 0.4rem;

        &:hover {
            background: rgba(0, 0, 0, 0.05);
        }

        &:active {
            background: rgba(0, 0, 0, 0.1);
        }
    }

    &__qty-input {
        width: 4.6rem;
        height: 4.4rem;
        text-align: center;
        border-radius: 0.4rem;
        padding: 0 0.6rem;
        border: 1px solid;
        font-family: "DM Sans", sans-serif;
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 1;
        border: 1px solid var(--r-background);
        color: var(--r-black);

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        -moz-appearance: textfield;
    }
}
