@use "./../../init" as *;

@use "./solution_banner";
@use "./solution_content";
@use "./solution_products";
@use "./solution_categories";

.l-solution {
    &__banner {
        margin-bottom: 10rem;

        @include tablet {
            margin-bottom: 8rem;
        }

        @include mobile {
            margin-bottom: 5rem;
        }
    }

    &__content {
        margin-bottom: 7rem;

        @include tablet {
            margin-bottom: 5rem;
        }

        @include mobile {
            margin-bottom: 4rem;
        }
    }
}
