@use "./../../init" as *;

.c-solution-banner {
    position: relative;
    min-height: 56.9rem;
    overflow: hidden;
    display: flex;
    border-radius: 0.8rem;

    @include tablet {
        min-height: 45rem;
    }

    @include mobile {
        min-height: 42rem;
    }

    &__image {
        position: absolute;
        inset: 0;
        background-color: var(--c-bg);
        background-position: center;
        background-size: cover;
        border-radius: 0.8rem;
        background-image: var(--banner-desktop);

        @include mobile {
            background-position-x: 30%;
        }
    }

    &__overlay {
        position: absolute;
        inset: 0;
        background: linear-gradient(85.28deg, rgba(0, 0, 0, 0.64) 22.49%, rgba(0, 0, 0, 0) 59.21%);

        border-radius: 0.8rem;

        @include mobile {
            background: linear-gradient(
                30.33deg,
                rgba(0, 0, 0, 0.64) 24.32%,
                rgba(0, 0, 0, 0) 52.32%
            );
        }
    }

    &__wrapper {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
        align-items: flex-start;
        justify-content: center;
        padding: 12.8rem 9.7rem;
        color: #fff;

        @include tablet {
            padding: 8rem 6rem;
        }

        @include mobile {
            padding: 4rem 2.4rem;
            justify-content: flex-end;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 32px;

        @include tablet {
            gap: 28px;
        }

        @include mobile {
            gap: 2.4rem;
        }

        &__title {
            max-width: 52rem;
            margin: 0;
            font-family: "Wix Madefor Display", sans-serif;
            font-size: 5.2rem;
            font-weight: 800;
            line-height: 1.25;

            @include tablet {
                font-size: 4.8rem;
                max-width: 40rem;
            }

            @include mobile {
                font-size: 2.8rem;
                max-width: 100%;
            }
        }

        &__description {
            max-width: 52rem;
            margin: 0;
            font-family: "DM Sans", sans-serif;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.4;

            @include tablet {
                max-width: 40rem;
            }

            @include mobile {
                max-width: 100%;
                font-size: 1.4rem;
            }

            strong {
                font-weight: 800;
            }
        }
    }
}
