@use "./../../init" as *;

.c-solution-cta {
    position: relative;
    min-width: 250px;
    min-height: 54rem;
    overflow: hidden;
    display: flex;
    border-radius: 0.8rem;

    @include tablet {
        min-height: 43rem;
    }

    @include mobile {
        min-height: 40rem;
    }

    &__image {
        position: absolute;
        inset: 0;
        background-color: var(--c-bg);
        background-position: center;
        background-size: cover;
        border-radius: 0.8rem;
        background-image: var(--cta-desktop);
    }

    &__overlay {
        position: absolute;
        inset: 0;
        background: linear-gradient(182.11deg, rgba(0, 0, 0, 0) 1.78%, rgba(0, 0, 0, 0.8) 90.09%);
        border-radius: 0.8rem;
    }

    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        align-items: flex-start;
        justify-content: flex-end;
        padding: 4.8rem;
        color: #fff;

        @include tablet {
            padding: 3.8rem;
        }

        @include mobile {
            padding: 2.8rem;
            justify-content: flex-end;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 32px;

        @include tablet {
            gap: 28px;
        }

        @include mobile {
            gap: 2.4rem;
        }

        &__title {
            margin: 0;
            font-family: "Wix Madefor Display", sans-serif;
            font-size: 3.5rem;
            font-weight: 800;
            line-height: 1.2;
            max-width: 42rem;

            @include tablet {
                font-size: 3rem;
            }

            @include mobile {
                font-size: 2rem;
            }
        }

        &__description {
            margin: 0;
            font-family: "DM Sans", sans-serif;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.6;
            max-width: 42rem;

            @include mobile {
                width: 100%;
                font-size: 1.4rem;
            }

            strong {
                font-weight: 800;
            }
        }
    }
}
